@charset "URF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34); 
}

:root {
    --fundo-padrao: rgba(0, 0, 0, 0.2);
    --padrao: rgb(20, 20, 20);

    --fundo-padrao-reverso: rgb(200, 200, 200);
    --padrao-reverso: rgb(190, 190, 190);   

    --cor: purple;
    /* --sombra: 1px 2px 7px rgba(132, 132, 132, 0.308); */
    --sombra: none;
}

main {
    height: 93%;
    width: 100%;

    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
}

/* gadjats */

[class^="gadget"] {
    background-color: var(--fundo-padrao);
    border-radius: 15px;
    box-shadow: var(--sombra);
}

.gadget-1 {
    grid-area: 2/2 / 5/47;
    padding: 0px 3em;
    
    color: var(--fundo-padrao-reverso);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* gadget-um */

.gadget-1 > div {
    display: flex;
    align-items: center;
    justify-content: right;
}

#options {gap: 4em;}

.gadget-1 [class^="option"] {
    height: 1.2em;
    width: 60px;
    text-align: center;
    transition-duration: .9s;
    animation-timing-function: ease-in;
}

.gadget-1 [class^="option"]:hover {
    color: var(--padrao);
}

.gadget-1 [class^="option"] p {
    position: absolute;
}

.gadget-1 [class^="option"] > .efeito-gdt1 {
    height: 1.2em;
    width: 0em;
    background-color: var(--cor);

    border-radius: 3px;

    position: absolute;

    animation-timing-function: ease-in;
    transition-duration: .5s;
}

.gadget-1 .option-1:hover > .efeito-gdt1 {width: 2.8em;}
.gadget-1 .option-2:hover > .efeito-gdt1 {width: 3.0em;}
.gadget-1 .option-3:hover > .efeito-gdt1 {width: 3.3em;}
.gadget-1 .option-4:hover > .efeito-gdt1 {width: 3.1em;}
.gadget-1 .option-5:hover > .efeito-gdt1 {width: 3.9em;}

.gadget-1 #search-box {
    height: 2.2em;
    width: 25em;
    background-color: var(--fundo-padrao-reverso);
    color: var(--padrao);
    font-weight: 600;
    padding-left: 1em;
    
    border-radius: 10px;
    border: 4px solid var(--cor);
    filter: grayscale(40%);
}

.gadget-1 #search-box:focus {
    filter: grayscale(0%) saturate(110%);
}

#search-outline, #ellipse-outline {
    position: relative;
    transition-duration: .15s;
    top: -10%;
} 

#search-outline {
    font-size: 1.2em;
    transform: translateX(-140%);
}

#search-outline:hover {
    color: var(--cor);
}

#ellipse-outline {
    font-size: 2.1em;
}

/* gadget-dois */

.gadget-2 {
    grid-area: 2/48 / 5/50;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-outline {
    font-size: 1.8em;
    color: var(--padrao-reverso);
}

#grid-outline:hover {
    color: var(--cor);
}

/* gadget-tres */

.gadget-3 {
    grid-area: 7/2 / 26/16;
    padding: 1em;
}

.gadget-3 #topo {
    height: 10%;
    width: 100%;
    display: flex;
}

.gadget-3 #topo > div {
    display: flex;
    gap: 1em;
    height: 100%;
    width: 100%;
    color: var(--padrao-reverso);

}

.gadget-3 #botoes > div {
    background-color: var(--cor);
    filter: saturate(120%);
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.gadget-3 .quantia {
    height: 100%;
    width: 50%;
}

.gadget-3 .reset {
    height: 100%;
    width: 25%;
    transition-duration: .2s;
}
.gadget-3 .reset:hover{transform: translateY(-10%);}

#icons {
    font-size: 1.8em;
    
    justify-content: right;
    align-items: center;
}

.gadget-3 .icon {
    border-radius: 50%;
    padding: .1em;

    transition-duration: .2s;
}

/* valores */

.gadget-3 #valores {
    margin: 1.5em 0px;
    
    height: 50%;
    width: 100%;

    display: flex;
}

.gadget-3 .valor {
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gadget-3 .valor > div {
    border-radius: 10px;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mais, .menos {
    height: 25%;
    background-color: var(--cor);
    /* transition-duration: .1s; */
}

.gadget-3 #valores .icon {
    color: var(--padrao-reverso);
    font-size: 1.8em;
}


.gadget-3 #valor {
    height: 45%;
    background-color: var(--fundo-padrao);
    color: var(--padrao-reverso);

    border: 1px solid var(--padrao-reverso);
}

/* moedas */

#moedas {
    height: 20%;
    width: 100%;
    margin: 1em 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moeda {
    width: 30%;
    height: 100%;
    background-color: var(--padrao);
    color: var(--padrao-reverso);
    font-size: 1.2em;
    font-weight: 600;
    
    border-radius: 10px;
    border: 3px solid var(--cor);

    display: flex;
    justify-content: center;
    align-items: center;
}

.moeda:hover {
    filter: brightness(170%);
}


/* gadget-quatro */

.gadget-4 {
    grid-area: 30/2 / 50/9;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

[class^="botao"] {
    height: 25%;
    width: 95%;
    background-color: var(--fundo-padrao);
    color: var(--fundo-padrao-reverso);
    border: 2px solid var(--cor);
    position: relative;

    font-weight: 600;
    font-size: 1.2em;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: .35s;
    animation-timing-function: ease-in-out;
}

/* botao-1 */

.botao-1-gdt3 {
    border: none;
    background-color: var(--cor);
    color: var(--padrao-reverso);   
    overflow: hidden;
}

.botao-1-gdt3 div {
    height: 200%;
    width: 100%;
    padding-top: .6em;

    position: relative;
    top: 50%;;

    display: flex;
    align-items: center;
    gap: 23%;
    flex-direction: column;

    transition-duration: .3s;
}

.botao-1-gdt3 p {
    transition-duration: .2s;
    position: relative;
}

.botao-1-gdt3:hover p {
    transform: translateY(-20%);
}

/* botao-2 */

.botao-2-gdt3:hover {
    border: 2px solid var(--padrao-reverso);
}

.botao-2-gdt3:hover p {
    color: var(--cor);
}

/* botao-3 */

.botao-3-gdt3 p {transition-duration: .2s;}
.botao-3-gdt3:hover p {
    letter-spacing: .2em;
    /* font-weight: 800; */
}

.fundo-limpar, .fundo-limpou {
    height: 100%;
    width: 100%;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow-x: hidden;
    
    transition-duration: .25s;
    transition-timing-function: ease-in;
}

.fundo-limpar {
    left: 0%;
    background-color: var(--padrao);
}

.fundo-limpou {
    background-color: var(--cor);
    right: 0%;
    width: 0px;
}

/* botao-4 */

.botao-4-gdt3 {
    background-color: var(--cor);
    transition-duration: .1s;
    border: none;
}
/* 
.botao-4-gdt3:hover {
    filter: brightness(130%);
} */

/* roda pé */

footer {
    background-color: var(--fundo-padrao);
    height: 7%;
}

footer, footer > div {
    width: 100%;
    padding: 0em 0.5em;

    display: flex;
    align-items: center;
}

footer > div#esquerda {gap: 2em;}
#paragrafo-footer{color: var(--fundo-padrao-reverso);}

#divisoria {
    width: 0.1em;
    height: 1.5em;
    background-color: black;
}

div#toggle-button {
    width: 4em;
    height: 2em;
    background-color: var(--fundo-padrao-reverso);

    padding: 0px .2em;
    border-radius: 50px;

    position: relative;
    display: flex;
    align-items: center;
}

div#toggle-button-circle {
    width: 1.7em;
    height: 1.7em;
    background-color: var(--cor);
    
    border-radius: 50px;

    position: absolute;
    left: 55%;
    transition-duration: .4s;

}

#adicionar-cor {
    color: var(--padrao-reverso);
    background-color: var(--fundo-padrao);
    padding: .3em;
    font-size: 1.5em;
    border-radius: 10px;
    
    display: flex;
    gap: .5em;
}  

#inserir-cor {
    width: 5.5em;

    padding-left: .2em;
    border-radius: 10px;

    font-size: .6em;
    font-weight: 600;
    letter-spacing: .05em;
}

footer > div#direita {
    justify-content: right;
    gap: 4em;

    position: relative;
}


[class^="cor"] {
    height: 1.7em;
    width: 1.7em;
    background-color: var(--cor);
    box-shadow: var(--sombra);
    border-radius: 50%;

    position: relative;

    transition-duration: .3s;
}

[class^="cor"]:hover {
    transform: translateY(-25%);
}
