@charset "URF-8";
@import 'praticos'; 

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

html, body {
    @include boxSize(100vh, 100vw);
    background-color: rgb(34, 34, 34); 
}

main {
    @include boxSize(93%, 100%);

    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);

    [class^="gadget"] {
        background-color: $fundo-padrao;
        border-radius: 15px;
        box-shadow: $sombra;
    }

    .gadget-1 {
        grid-area: 2/2 / 5/47;
        padding: 0px 3em;
        
        color: $fundo-padrao-reverso;
        
        @include flex(row, center, space-between);
        >div {
            @include flex()
        }

        #options {
            justify-content: right;
            gap: 4em;
        }


        [class^="option"] {
            @include boxSize(1.2em, 60px);
            text-align: center;
            transition-duration: .9s;
            animation-timing-function: ease-in;

            &:hover {
                color: $cor-padrao;
            }

            p {
                position: absolute; 
            }

            >.efeito-gdt1 {
                @include boxSize(1.2em, 0em);
                background-color: $cor;
        
                border-radius: 3px;
        
                position: absolute;
        
                animation-timing-function: ease-in;
                transition-duration: .5s;
            }
        }

        .option-1:hover > .efeito-gdt1 {width: 2.8em;}
        .option-2:hover > .efeito-gdt1 {width: 3.0em;}
        .option-3:hover > .efeito-gdt1 {width: 3.3em;}
        .option-4:hover > .efeito-gdt1 {width: 3.1em;}
        .option-5:hover > .efeito-gdt1 {width: 3.9em;}

        #search-box {
            @include boxSize(2.2em, 25em);
            padding-left: 1em;
            background-color: $fundo-padrao-reverso;
            color: $cor-padrao;
            font-weight: 600;
            
            border-radius: 10px;
            border: 4px solid $cor;
            filter: grayscale(40%);

            &:focus {
                filter: grayscale(0%) saturate(110%);
            }
        }

        #search-outline, #ellipse-outline {
            @include position(relative, $top: -10%);
            transition-duration: .15s;
        } 

        #search-outline {
            font-size: 1.2em;
            transform: translateX(-140%);

            &:hover {
                color: $cor;
            }
        }

        #ellipse-outline {
            font-size: 2.1em;
        }
    }

    .gadget-2 {
        grid-area: 2/48 / 5/50;
        @include flex($justfy: center);        

        #grid-outline {
            font-size: 1.8em;
            color: $cor-padrao-reversa;
    
            &:hover {
                color: $cor;
            }            
        }
    }

    .gadget-3 {
        grid-area: 7/2 / 26/16;
        padding: 1em;

        #topo {
            @include boxSize(10%, 100%);
            @include flex();

            #botoes, #icons {
                @include flex();
                @include boxSize(100%, 100%);
                color: $cor-padrao-reversa;
                
                gap: 1em;
            }

            #botoes {
                .quantia, .reset {
                    filter: saturate(120%);
                    background-color: $cor;
                    border-radius: 5px;
                    
                    @include flex($justfy: center);
                }

                .quantia {
                    @include boxSize(100%, 50%)
                }
                
                .reset {
                    @include boxSize(100%, 25%);
                    transition-duration: .2s;
        
                    &:hover{
                        transform: translateY(-10%);
                    }
                    
                }
            }
            
            #icons {
                font-size: 1.8em;
                justify-content: right;
                align-items: center;
    
    
                .icon {
                    border-radius: 50%;
                    padding: .1em;
            
                    transition-duration: .2s;
                }
                
            }
        }
           
        #valores {
            margin: 1.5em 0px;
            @include boxSize(50%, 100%);
            @include flex();

            .valor {
                @include boxSize(100%, 20%);
                @include flex($direction: column);
                

                >div {
                    border-radius: 10px;
                    @include boxSize(no, 90%);
                    @include flex($justfy: center);
                }
                
                .mais, .menos {
                    @include boxSize(25%, no);
                    background-color: $cor;
                    /* transition-duration: .1s; */
                }
                
                .icon {
                    color: $cor-padrao-reversa;
                    font-size: 1.8em;
                }

                #valor {
                    @include boxSize(45%, no);
                    background-color: $fundo-padrao;
                    color: $cor-padrao-reversa;
            
                    border: 1px solid $cor-padrao-reversa;
                }
            }
        }

        #moedas {
            @include boxSize(20%, 100%);
            margin: 1em 0px;
            @include flex();

            .moeda {
                @include boxSize(100%, 30%);
                background-color: $cor-padrao;
                color: $cor-padrao-reversa;
                font-size: 1.2em;
                font-weight: 600;
                
                border-radius: 10px;
                border: 3px solid $cor;
        
                @include flex($justfy: center);

                &:hover {
                    filter: brightness(170%);
                }
                
            }
        }
    }

    .gadget-4 {
        grid-area: 30/2 / 50/9;
        padding: 1em;
        
        @include flex($direction: column, $gap: 1em);

        [class^="botao"] {
            @include boxSize(25%, 95%);
            background-color: $fundo-padrao;
            color: $fundo-padrao-reverso;
            border: 2px solid $cor;
            position: relative;
    
            font-weight: 600;
            font-size: 1.2em;
    
            border-radius: 10px;
            @include flex($justfy: center);
    
            transition-duration: .35s;
            animation-timing-function: ease-in-out;
        }

        .botao-1-gdt3 {
            border: none;
            background-color: $cor;
            color: $cor-padrao-reversa;   
            overflow: hidden;

            div {
                @include boxSize(200%, 100%);
                padding: .6em 0px 1.2em 0px;
        
                position: relative;
                top: 50%;;
        
                @include flex($direction: column);
        
                transition-duration: .3s;
            }
            
            p {
                transition-duration: .2s;
                position: relative;
            }

            &:hover p {
                transform: translateY(-20%);
            }
        }
        
        .botao-2-gdt3:hover {
            border: 2px solid $cor-padrao-reversa;

            &:hover p {
                color: $cor;
            }

        }

        .botao-3-gdt3 {
            p {
                transition-duration: .2s;
            }

            &:hover p {
                letter-spacing: .2em;
            }

            .fundo-limpar, .fundo-limpou {
                @include boxSize(100%, 100%);
                border-radius: 8px;
        
                @include flex($justfy: center);
                position: absolute;
                overflow-x: hidden;
                
                transition-duration: .25s;
                transition-timing-function: ease-in;
            }

            .fundo-limpar {
                left: 0%;
                background-color: $cor-padrao;
            }
        
            .fundo-limpou {
                width: 0px;
                background-color: $cor;
                right: 0%;
            }
            
        }

        .botao-4-gdt3 {
            background-color: $cor;
            transition-duration: .1s;
            border: none;
        }
    }
}

footer {
    background-color: $fundo-padrao;
    @include boxSize(7%, 100%);
    padding: 0em 0.5em;

    @include flex();

    #esquerda, #direita {
        @include boxSize(no, 50%);
        padding: 0em 0.5em;
        @include flex();
    }

    #esquerda {
        justify-content: left;
        gap: 2em;

        #paragrafo-footer{
            color: $fundo-padrao-reverso;
        }

        #divisoria {
            @include boxSize(1.5em, 0.1em);
            background-color: black;
        }

        #toggle-button {
            @include boxSize(2em, 4em);
            background-color: $fundo-padrao-reverso;
        
            padding: 0px .2em;
            border-radius: 50px;
        
            position: relative;
            @include flex();

            #toggle-button-circle {
                @include boxSize(1.7em, 1.7em);
                background-color: $cor;
                
                border-radius: 50px;
            
                position: absolute;
                left: 55%;
                transition-duration: .4s;
            }
        }
        
        #adicionar-cor {
            color: $cor-padrao-reversa;
            background-color: $fundo-padrao;
            padding: .3em;
            font-size: 1.5em;
            border-radius: 10px;
            
            @include flex($direction: row, $aling: center, $justfy: space-between, $gap: .5em);

            #inserir-cor {
                @include boxSize(no, 5.5em);
            
                padding-left: .2em;
                border-radius: 10px;
            
                font-size: .6em;
                font-weight: 600;
                letter-spacing: .05em;
            }
        }  
    }

    #direita {
        justify-content: right;
        gap: 4em;
    
        position: relative;

        [class^="cor"] {
            @include boxSize(1.7em, 1.7em);
            background-color: $cor;
            box-shadow: $sombra;
            border-radius: 50%;
        
            position: relative;
        
            transition-duration: .3s;

            &:hover {
                transform: translateY(-25%);
            }
            
        }
    }
}